* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: white;
    width: 100%;
    box-shadow: 0px 0px 4px 4px grey;
    margin-bottom: 10px;
}

.titulo a {
    display: flex;
}

header h1 {
    color: #0d346b;
    font-style: italic;
}


nav {
    display: flex;
    justify-content: space-around;
}

nav li,
a {
    list-style: none;
    padding: 5px;
    color: rgb(129, 127, 127);
    text-decoration: none;
}

.imgPrincipal {
    background: #f4f4f4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

.dados {
    background-color: white;
    width: 500px;
    height: 550px;
    border-radius: 10px;
    box-shadow: 0 0 1em rgb(158, 157, 157);
    text-align: center;
    padding: 30px;
}

.dados h1 {
    padding-bottom: 20px;
    color: #105cd0;
}

.dados p {
    color: rgba(128, 128, 128, 0.705);
    padding-bottom: 10px;
    color: #105cd0;
}

.dados hr {
    margin: 10px;
}

.inputs {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.inputs input {
    width: 200px;
    height: 30px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

form {
    color: rgba(128, 128, 128, 0.705);
    margin-bottom: 20px;
}

.btn {
    background-color: #94b9ee;
    width: 130px;
    height: 40px;
    border-radius: 7px;
    border: 1px solid rgba(128, 128, 128, 0.705);
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #105cd0;
    transition: .5s;
    border: 1px solid #94b9ee;
}

.dados a {
    color: #105cd0;
}

.dados a:hover {
    text-decoration: underline;
    transition: .5s;
}

.redes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.footer {
    font-size: 16px;
    color: #0d346b;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    text-align: center;
    width: 100%;
    height: 32px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    -webkit-box-shadow: 0px 0px 4px 4px grey;
}