*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 2000px;
    width: 100%;
}

/*CABEÇALHO*/
header {
    display: flex;
    justify-content: space-evenly;
    padding-top:10px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: white;
    position: fixed;
    width: 100%;
}

.titulo a{
    display: flex;
}

a {
    text-decoration: none;
}

header h1 {
    color: #0d346b;
    font-style:italic;
}

/*MENU*/
nav {
    display: flex;
    justify-content: space-around;
}

nav li, nav a {
    list-style: none;
    padding: 5px;
    color: rgb(129, 127, 127);
    text-decoration: none;
}

.menu::after{
    content: "";
    position: absolute;
    left: 940px;
    margin-top: 30px;
    border-radius: 5px;
    display: block;
    width: 5px;
    height: 5px;
}

.login {
    padding-top: 10px;
    color: #0d346b;
}

.login a:hover {
    color: rgb(129, 127, 127);
}

header::after {
    content:"";
    width: 100%;
    height: 5px;
    background-color: white;
    position: absolute;
}

/*SECTION PRINCIPAL*/
section img {
    width: 1000px;
    height: 800px;
}

.principalImg {
    display: flex;
    width: 100%;
    background-color: #f3b0a588;
}

.texto1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 1750px;
    margin-top: 48px;
    margin-left: 26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ec664e;
    background: #f3afa507;
}

.texto1 h1{
    font-style: italic;
    font-size: 30px;
}

.texto2 {
    padding-top: 50px;
}

.texto2 p {
    font-style: italic;
    padding: 5px;
}

.informacoes {
    display: flex;
    justify-content: flex-end;
    text-align: end;
    width: 100%;
}

.principalImg::after {
    content: "";

}


/*DESCRIÇÃO SOBRE O SISTEMA*/
.descricao {
    padding-top: 50px;
    height: 500px;
    text-align: center;
}

.parte1 h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-style: italic;
    color: #8c6272;
}

.parte1 p {
    padding: 10px;
    color: #8c6272;
    font-size: 20px;
}


/*INFORMAÇÕES DE MELHORIAS*/
.divisoes {
    display: flex;
    justify-content: space-around;
    height: 700px;
    padding-top: 180px;
}

.controle {
    padding-top: 10px;
    text-align: center;
    margin-top:50px ;
    width: 350px;
    height: 300px;
    border-radius: 20px;
    background:white;
    box-shadow: 1px 2px 15px 5px #8c6272;
}

.controle {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: #8c6272;
    cursor: pointer;
}

.controle:hover{

}

.controle li{

    padding-top: 30px;
}


.melhoria {
    padding-top: 10px;
    text-align: center;
    margin-top:50px ;
    width: 350px;
    height: 300px;
    background:white;
    border-radius: 20px;
    box-shadow: 1px 2px 15px 5px #8c6272;
}

.melhoria {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: #8c6272;
    cursor: pointer;
}

.melhoria:hover{

}

.melhoria li{

    padding-top: 30px;
}


.destaques {
    padding-top: 10px;
    text-align: center;
    margin-top:50px ;
    width: 350px;
    height: 300px;
    background:white;
    border-radius: 20px;
    box-shadow: 1px 2px 15px 5px #8c6272;
}

.destaques {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: #8c6272;
    cursor: pointer;
}

.destaques:hover{

}

.destaques li{

    padding-top: 30px;
}

.containerInformacoes::before{
    content: '';
    background-image: url(../img/img-new/Pattern-4.png);
    position: absolute;
    height: 200px;
    width: 100%;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-color: #d19fc0a8;
}

.contatoLocalizacao {
    width: 100%;
    height: 250px;
    background: #e3847394;
    border-top-left-radius: 250px;
    border-top-right-radius:250px;
    border-bottom-left-radius:250px;
    border-bottom-right-radius:250px;
    
    
}

.contatos {
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items: center;
    padding: 20px;
}

.contatos h1 {
    color: white;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

.contatos p{
    color: white;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style:italic;
    padding-top:15px ;
}

.btnContato button {
    background-color: #0d346b;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    height: 36px;
    width: 160px;
    color: white;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: bold;
}

.btnContato button:hover {
    background-color: white;
    transition: .5s;
    color: #0d346b;
}

.btnContato a {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

.btnContato a:hover {
    color: #0d346b;
}


.redes {
    display:flex;
    justify-content:center;
    align-items: center;
    margin: 20px;
}

.footer {
    font-size:16px;
    color: #0d346b;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style:italic;
    text-align:center;
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 4px 4px grey;
}

/*RESPONSIVIDADE*/
@media ()


